<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Government Polytechnic Thane</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/static/scss/_mixin.scss">
    <link rel="stylesheet" href="/static/scss/_responsive.scss">
    <link rel="stylesheet" href="/static/scss/_theme_color.scss">
    <link rel="stylesheet" href="/static/scss/_variables.scss">
    <link rel="stylesheet" href="/static/scss/style.scss">

    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/custom-icon.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/classy-nav.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <a href="/"><img src="/static/img/bg-img/gpt-logo.jpg" height="110" width="110"></a>
                            </div>
                            <div class="heading1">
                                <h2>Government Polytechnic, Thane</h2>
                            <p>Established 1985(Government of Maharashtra.)</p>
                            </div>
                            <div class="login-content">
                                <a href="/admin">Register / Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/news">News</a></li>
                                    <li><a href="index.html">Grievance</a></li>
                                    <li><a href="#">Departments</a>
                                        <div class="megamenu text-center">
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="index.html">Chemical Engineering</a></li>
                                            <li><a href="about-us.html">Civil Engineering</a></li>
                                            <li><a href="index.html">Mechanical Engineering</a></li>
                                        </ul>
                                            
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="it.html">Information Technology</a></li>
                                            <li><a href="/computer">Computer Engineering</a></li>
                                            <li><a href="blog.html">Travel & Tourism</a></li>
                                            
                                        </ul>
                                                                            </div>
                                    </li>
                                    <li><a href="#">Students corner</a>
                                        <div class="megamenu">
                                            <ul class="single-mega text-center cn-col-4">
                                                <li><a href="sports.html">Annual Sports 2018-2019</a></li>
                                                <li><a href="#">Annual Gathering 2018-2019</a></li>
                                              </ul>
                                           
                                        </div></li>
                                    <li><a href="course.html">Facilities</a>
                                     <div class="megamenu ">
                                        <ul class="single-mega cn-col-4 text-center">
                                            <li><a href="/library">Library</a></li>
                                            <li><a href="/gymkhana">Gymkhana</a></li>
                                        </ul>
                                    </div>
                                    </li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                            
                            <!-- Nav End -->
                        </div>
                    </nav>
        
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(/static/img/bg-img/Graphic-Designer.jpg);">
        <div class="bradcumbContent">
            <h2>About Us</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <span style="font-size: 20px;font-weight: 500">Government Polytechnic, Thane.</span>
                        <h3>What we are</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                
                 <div class="col-12 col-md-6 wow fadeInUp text-center" data-wow-delay="500ms">
                    <h3>Our Vision</h3><br>
                    <div class="aboutus-sub-content">
                     <p>Emerging as socially & industrially preferred learning institution & leading social interventions through Technology education for better tomorrow & human & professional values.</p>
                </div>
             
                </div>
            <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                    <h3 class="text-center">Our Mission</h3><br>
                <div class="aboutus-sub-content">    
                <p>This institute is committed to provide diverse, proactive & socially responsive work culture & environment developing technically competent & employable technicians & entrepreneurs through adapting interactive & technology-Lead Teaching learning strategies.</p>
                </div>
             
                </div>
                
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                    <h3 style="text-align: center;">Core Values</h3><br> 
                    <ul  style="position: relative;left: 7%;font-size: 16px;">
                    <li style="list-style-type: disc">Accountability & Transparency.</li>
                    <li style="list-style-type: disc">Team Spirit.</li>
                    <li style="list-style-type: disc">Discipline</li>
                    <li style="list-style-type: disc">Environmental Sustainability.</li>
                    <li style="list-style-type: disc">Mutual Trust.</li>
                    <li style="list-style-type: disc">Equality.</li>
                    <li style="list-style-type: disc">Satisfaction of Stakeholders.</li>
                    </ul>
            </div>
                
                
                      <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                    <h3 class="text-center">Quality Policy</h3><br>
                          <div class="aboutus-sub-content">
                    <p>Government Polytechnic, Thane is committed to provide quality technical education to its students who will be acceptable as preferred technicians to economy & society.<br>
                    The institute strives to achieve its quality goals through implementation of effective Teaching-Learning processes in the institute, continuous up-gradation of its instructional facilities & continual development of its faculty & staff.</p>
                          </div>
                </div> 
                    
                <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                             <h3 style="text-align: center">We are committed to : </h3><br>
                    <div style="display:flex; justify-content:center;">
                <ul style="position:inherit;left: 10%;font-size: 17px;font-weight: 400;">
                   
                     <li style="list-style-type: disc">Provide learning & Re-skilling opportunities to adult learners through training & continuing education Institutional Infrastructure.</li>
                    <li style="list-style-type: disc">Provide fair opportunities to institute employees for their professional growth & career advancement.</li>
                     <li style="list-style-type: disc">Provide equitable learning opportunities for women, physically challenged & economically weaker sections of the society.</li>
                      <li style="list-style-type: disc">Develop institute itself as knowledge-sink for the small & medium scale industries in the region.</li>
                     <li style="list-style-type:disc">Groom the learners as the professional human resources & responsible citizens of India.</li>
                    <li style="list-style-type:disc">Encourage entrepreneurial skills in learners.</li>
                  
                   
                    <li style="list-style-type: disc">Provide effective guidance & counseling, placement & other student services.</li>
                   
                    </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->

    <!-- ##### Team Area Start ##### -->
    <section class="teachers-area section-padding-0-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <span>Meet the staff</span>
                        <h3>Head of Departments</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="/static/img/bg-img/RLL.JPG" alt="">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Mr. R. L. Londhe</h5>
                            <span>Head of Computer Engineering Department</span>
                        </div>
                    </div>
                </div>
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="/static/img/bg-img/STD.JPG" alt="" style="height: 190px;">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Dr. S. T. Dhotre</h5>
                            <span>Head of Civil Engineering Department</span>
                        </div>
                    </div>
                </div>
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="/static/img/bg-img/chemical.jpg" alt="" style="height: 190px;">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Mrs. C.B. PATIL</h5>
                            <span>Head of Chemical Engineering Department</span>
                        </div>
                    </div>
                </div>
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="/static/img/bg-img/VRS.JPG" alt="">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Mr. V. R. Sawant</h5>
                            <span>Head of Information Technology Department</span>
                        </div>
                    </div>
                </div>
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="/static/img/bg-img/tea3.jpg" alt="">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Mr. Sanab</h5>
                            <span>Head of Meachanical Engineering Department</span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers 
                    Space for django code to load teachers from the database -->
                <!-- <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                       
                        <div class="teachers-thumbnail">
                            <img src="/static/img/bg-img/tea3.jpg" alt="">
                        </div>
                        
                        <div class="teachers-info mt-30">
                            <h5>Mr. Sanab</h5>
                            <span>Head of Meachanical Engineering Department</span>
                        </div>
                    </div>
                </div> -->
            
            </div>
        </div>
    </section>
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
       
        <div class="bottom-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/static/js/active.js"></script>
</body>

</html>