<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Government Polytechnic Thane</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}    
</style>


<link rel="stylesheet" href="/static/scss/_mixin.scss">
<link rel="stylesheet" href="/static/scss/_responsive.scss">
<link rel="stylesheet" href="/static/scss/_theme_color.scss">
<link rel="stylesheet" href="/static/scss/_variables.scss">
<link rel="stylesheet" href="/static/scss/style.scss">

<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
<link rel="stylesheet" href="/static/css/magnific-popup.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/animate.css">
<link rel="stylesheet" href="/static/css/custom-icon.css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/classy-nav.min.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <a href="/"><img src="/static/img/bg-img/gpt-logo.jpg" height="110" width="110"></a>
                            </div>
                            <div class="heading1">
                                <h2>Government Polytechnic, Thane</h2>
                            <p>Established 1985(Government of Maharashtra.)</p>
                            </div>
                            <div class="login-content">
                                <a href="/admin">Register / Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/news">News</a></li>
                                    <li><a href="index.html">Grievance</a></li>
                                    <li><a href="#">Departments</a>
                                        <div class="megamenu text-center">
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="index.html">Chemical Engineering</a></li>
                                            <li><a href="about-us.html">Civil Engineering</a></li>
                                            <li><a href="index.html">Mechanical Engineering</a></li>
                                        </ul>
                                            
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="it.html">Information Technology</a></li>
                                            <li><a href="/computer">Computer Engineering</a></li>
                                            <li><a href="blog.html">Travel & Tourism</a></li>
                                            
                                        </ul>
                                                                            </div>
                                    </li>
                                    <li><a href="#">Students corner</a>
                                        <div class="megamenu">
                                            <ul class="single-mega text-center cn-col-4">
                                                <li><a href=sports.html>Annual Sports 2018-2019</a></li>
                                                <li><a href="#">Annual Gathering 2018-2019</a></li>
                                              </ul>
                                           
                                        </div></li>
                                    <li><a href="course.html">Facilities</a>
                                     <div class="megamenu ">
                                        <ul class="single-mega cn-col-4 text-center">
                                            <li><a href="/library">Library</a></li>
                                            <li><a href="/gymkhana">Gymkhana</a></li>
                                        </ul>
                                    </div>
                                    </li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                            
                            <!-- Nav End -->
                        </div>
                    </nav>
        
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(/static/img/bg-img/Graphic-Designer.jpg);">
        <div class="bradcumbContent">
            <h2>Gymkhana</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->
        <div class="container">
    <br><br><br><hr>
   <h1 style="text-align: center"><strong>Gymkhana Information</strong></h1> 
  <p style="text-align: justify">  The Academic progress of the student is supported by extracurricular activities through the framework of Gymkhana. It provides a platform to shape & nourish the inner qualities of the students. Gymkhana organizes various activities and sport events for overall development of the students. Gymkhana also provides various well developed indoor & outdoor facilities.</p>
<br><br><br><hr>
    </div>
    <!-- ##### About Us Area Start ##### -->
    
    <div class="container">
   <table id="customers" width="95%" align="center">
       <h1 style="text-align: center"><strong>Gymkhana Staff</strong></h1>
       <tr>
	<th width="8%">Sr.No.</th>
	<th width="38%">Name</th>
	<th width="22%">Designation</th>
        <th width="22%">Post Held</th>
</tr>

  <tr>
    <td>1</td>
    <td>Dr.Nitiket N. Mhala</td>
    <td>Principal</td>
    <td>President</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Shri.K.B.Salunkhe</td>
    <td>Lecturer in ME</td>
    <td>Vice-President</td>
  </tr>
<tr>
    <td>3</td>
    <td>Shri.Arvind G. Mahajan</td>
    <td>Lecturer in TR</td>
    <td>Coordinator</td>
  </tr>
 <tr>
    <td>4</td>
    <td>Shri. Yogesh A. Bhadange</td>
    <td>Lecturer in CH</td>
    <td>Coordinator</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Ms. Varsha A. Khandekar</td>
    <td>Lecturer in IT</td>
    <td>Coordinator</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Shri. S.S. Salvi </td>
    <td>Lab Asst.</td>
    <td>Assistant</td>
  </tr>
 <tr>
    <td>7</td>
    <td>Shri. S.Y. Bhandari </td>
    <td>Lab Asst.</td>
    <td>Assistant</td>
  </tr>
 <tr>
    <td>8</td>
    <td>Shri.R.P. Dhadwad</td>
    <td>--------</td>
    <td>Assistant</td>
  </tr>

</table>
    </div>
    <br>
    <br>
    <hr>
    
    
        <div class="container">
            <div class="row">
<div class="col-12">
<p><Strong><h1 class="text-center">Gymkhana Activities</h1></Strong></p>
    

    <div class="text-center"><ul>
    <li>Selection of C.R. & Co- C.R. for all diploma classes based on merit</li>
    <li>Selection of secretaries of various sports activities</li>
    <li>Internal sports and zonal Level matches were conducted under IEDSSA for Girls & Boys.</li>
    <li>Teacher’s day & Engineers day were celebrated.</li>
    <li>Gymkhana organizes Personality Development Programs for the students</li>
        </ul></div>
<p><Strong><h1><a href="sports1819.html" style="color:#FFFFFF">Annual Sports 2018-2019</a></h1></Strong></p>
<p><Strong><h1><a href="annual.html" style="color:#FFFFFF">Annual Gathering 2017-2018</a></h1></Strong></p>
    
    </div>
            </div>
            </div>
    
    

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
       
        <div class="bottom-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">GPT</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/static/js/active.js"></script>
</body>

</html>