{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Government Polytechnic Thane</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    
    <link rel="stylesheet" href="/static/scss/_mixin.scss">
    <link rel="stylesheet" href="/static/scss/_responsive.scss">
    <link rel="stylesheet" href="/static/scss/_theme_color.scss">
    <link rel="stylesheet" href="/static/scss/_variables.scss">
    <link rel="stylesheet" href="/static/scss/style.scss">

    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/custom-icon.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/classy-nav.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    


</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <a href="index.html"><img src="/static/img/bg-img/gpt-logo.jpg" height="110" width="110"></a>
                            </div>
                            <div class="heading1">
                                <h2>Government Polytechnic, Thane</h2>
                            <p>Established 1985(Government of Maharashtra.)</p>
                            </div>
                            <div class="login-content">
                                <a href="/admin">Register / Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/news">News</a></li>
                                    <li><a href="/">Grievance</a></li>
                                    <li><a href="#">Departments</a>
                                        <div class="megamenu text-center">
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="index.html">Chemical Engineering</a></li>
                                            <li><a href="about-us.html">Civil Engineering</a></li>
                                            <li><a href="index.html">Mechanical Engineering</a></li>
                                        </ul>
                                        
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="it.html">Information Technology</a></li>
                                            <li><a href="comp.html">Computer Engineering</a></li>
                                            <li><a href="blog.html">Travel & Tourism</a></li>
                                            
                                        </ul>
                                                                            </div>
                                    </li>
                                    <li><a href="#">Students corner</a>
                                        <div class="megamenu">
                                            <ul class="single-mega text-center cn-col-4">
                                                <li><a href="sports.html">Annual Sports 2018-2019</a></li>
                                              </ul>
                                           
                                        </div></li>
                                    <li><a href="course.html">Facilities</a>
                                     <div class="megamenu ">
                                        <ul class="single-mega cn-col-4 text-center">
                                            <li><a href="library.html">Library</a></li>
                                            <li><a href="gymkhana.html">Gymkhana</a></li>
                                        </ul>
0                                    </div>
                                    </li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                            
                            <!-- Nav End -->
                        </div>
                    </nav>
        
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">

            
            
            
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(/static/img/bg-img/carolina.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="text-center hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="400ms">Welcome<br>To Official GPThane website</h2>
                               </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(/static/img/bg-img/it.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="text-center hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Information Technology</h2>
                               </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(/static/img/bg-img/civil.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="text-center hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Civil Engineering</h2>
                                
                               </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(/static/img/bg-img/chemicale.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="text-center hero-slides-content">
                                                            <h2 data-animation="fadeInUp" data-delay="100ms">Chemical Engineering</h2>
 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(/static/img/bg-img/computer.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="text-center hero-slides-content">
                                                     <h2 data-animation="fadeInUp" data-delay="100ms">Computer Engineering</h2>
          </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(/static/img/bg-img/mechanical.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="text-center hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms" style="text-shadow:0 0 12px 0;">Mechanical Engineering</h2>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Top Feature Area Start ##### -->
    <div class="top-features-area wow fadeInUp" data-wow-delay="300ms">
        <div class="container ">
            <div class="row">
                <div class="col-12">
                    <div class="features-content ">
                    
                            <!-- Single Top Features -->
                            <div class="c-news text-center "><h3>ALL THE COURSES YOU NEED</h3>    
            
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Top Feature Area End ##### -->
    
    <div class="top-popular-courses-area section-padding-100-70">
    <div class="container">
    <div class="row">
              
                                    <!--Introduction -->
        
        <div class="col-12 col-lg-8">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="600ms">
                        <div class="popular-course-content">
                            <h2>Introduction</h2><hr>
                                                       
                            <p>      Government polytechnic Thane, established by Government of Maharashtra, governed by Higher & Technical Education Department, administered by DTE, approved by AICTE & affiliated to MSBTE is a co-education institute responsible for imparting industry-responsive Diploma level programs in the field of engineering, technology & professional education to the students admitted as per norms stipulated by Government of Maharashtra.

        It has the onus of bringing in socioeconomic transformations through education, training & linkages with industries & other fraternity, for the development of society at large.

        It is further responsible to contribute in development of technically trained human resources in Global context.</p>
                                                    </div>
                        <div class="dte-logo"><img src="/static/img/bg-img/dte-logo.jpg" height="200" width="200">
                        </div>
                </div>
        
        
        </div>
        
        
        <div class="col-12 col-lg-4">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="500ms">
                         <div class="links">
                            <h2>Latest Updates</h2>
                            <hr>
                            <marquee direction="up" onmouseover="this.stop()" onmouseout="this.start()">
                            {% for Posts in postlist %} 
                                 <h3><a target="_blank" href="#">{{ Posts.posts_title }}</a></h3>
                                 <p>{{ Posts.posts_content }}</p>
                            {% endfor %}
                        </marquee>
                        </div>
                    </div>
                </div>
        
        
        </div>
    </div>
    </div>

    <!-- ##### Course Area Start ##### -->
    
    <!-- ##### Course Area End ##### -->

    <!-- ##### Testimonials Area Start ##### -->
    <div class="testimonials-area section-padding-100 bg-img bg-overlay" style="background-image: url(img/bg-img/bg-2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto white wow fadeInUp" data-wow-delay="300ms">
                        <span>GOVERNMENT POLYTECHNIC THANE</span>
                        <h3>Head Staff</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Single Testimonials Area -->
                <div class="col-12 col-md-4">
                    <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="400ms">
                        <div class="testimonial-thumb">
                            <img src="/static/img/core-img/V.jpg" height="110" width="110">
                        </div>
                        <div class="testimonial-content">
                            <h5>Shri. Saurabh Vijay</h5>
                            
                            <h6><span>Secretary, Higher & Technical Education</span></h6>
                        </div>
                    </div>
                </div>
                <!-- Single Testimonials Area -->
                <div class="col-12 col-md-4">
                    <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="500ms">
                        <div class="testimonial-thumb">
                            <img src="/static/img/core-img/director.jpg" height="110" width="110">
                        </div>
                        <div class="testimonial-content">
                            <h5>Dr. Abhay E. Wagh</h5>
                            
                            <h6><span>Director, MSBTE</span></h6>
                        </div>
                    </div>
                </div>
                <!-- Single Testimonials Area -->
                <div class="col-12 col-md-4">
                    <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="600ms">
                        <div class="testimonial-thumb">
                            <img src="/static/img/core-img/mohitkar.png" height="110" width="110">
                        </div>
                        <div class="testimonial-content">
                            <h5>Dr. Vinod Mohitkar</h5>
                            <h6><span>Director, MSBTE</span></h6>
                        </div>
                    </div>
                </div>
                <!-- Single Testimonials Area -->
                <div class="col-12 col-md-4">
                    <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="700ms">
                        <div class="testimonial-thumb">
                            <img src="/static/img/core-img/naiksir.png" height="110" width="110">
                        </div>
                        <div class="testimonial-content">
                            <h5>Shri. Pramod A. Naik</h5>
                            <h6><span>Director, Regional Office</span> </h6>
                        </div>
                    </div>
                </div>
                   <!-- Single Testimonials Area -->
                <div class="col-12 col-md-4">
                    <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="700ms">
                        <div class="testimonial-thumb">
                            <img src="/static/img/core-img/NNM.jpg" height="90" width="100">
                        </div>
                        <div class="testimonial-content">
                            <h5>Dr. Nitiket N. Mhala</h5>
                            <h6><span>Principal, G.P.Thane</span></h6>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
     <!-- ##### Testimonials Area End ##### -->

    <!-- ##### Top Popular Courses Area Start ##### -->
    <div class="top-popular-courses-area section-padding-80-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <h3>Important Links</h3>
                    </div>
                </div>
            </div>
            <div class="row">
               
                <!-- Single Top Popular Course -->
                <div class="col-12 col-lg-4">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                        <div class="links">
                            <h5>Useful Links for Students</h5>
                            <hr>
<p><a target="_blank" href="ofiles/NADregistrationcircularforInstitutes_070920181025.pdf">Details of Registration to National Academic Depository (NAD)</a></p>
                        <p><a target="_blank" href="https://cvl.nad.co.in/NAD/uidStudentReg.action?activePage=regactuidStudentRega"> LINK for Student Registration WITH AADHAAR to National Academic Depository (NAD)</a></p>
                            <p><a target="_blank" href="https://cvl.nad.co.in/NAD/studentInit.action?activePage=regactstudentInits">LINK for Student Registration WITHOUT AADHAAR to National Academic Depository (NAD)</a></p>
                            <p><a target="_blank" href="https://swayam.gov.in/"> MOOCs Courses through SWAYAM</a></p>
                            <p><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSc7KsX49KrPz5z33Awvyrq-hsw_DNqu6W0pYdVyuSLqqUFdMA/viewform"> Online Grievance Feedback form portal for students</a></p>
                        </div>
                        
                    </div>
                </div>
                
                <!-- Single Top Popular Course -->
                <div class="col-12 col-lg-4">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="500ms">
                         <div class="links">
                            <h5>Useful Links for Students</h5>
                            <hr>
<p><a target="_blank" href="http://www.aicte-india.org//"> All India Council of Technical Education, Delhi (AICTE)</a></p>
                        
                        <p><a target="_blank" href="http://www.maharashtra.gov.in/"> Government of Maharashtra (GoM)</a></p>
                             <p><a target="_blank" href="http://www.dtemaharashtra.gov.in/index.html"> Directorate of Technical Education, M.S. Mumbai (DTE) </a></p>
                             <p><a target="_blank" href="http://unnat.iitd.ac.in/index.php/Pages/display/index"> उन्नत भारत अभियान</a></p>
                             <p><a target="_blank" href="http://msbte.org.in"> Maharashtra State Board of Technical Education, Mumbai (MSBTE) </a></p>
                             <p><a target="_blank" href="https://ndl.iitkgp.ac.in/"> National Digital library (NDL)</a></p>
                             <p><a target="_blank" href="http://mail.gpthane.org.in/bizmail/login"> Web Mail </a></p>
                        </div>
                    </div>
                </div>
                
                <!-- Single Top Popular Course -->
                <div class="col-12 col-lg-4">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="600ms">
                           <div class="links">
                            <h5>Minority Scholarships</h5>
                            <hr>
<p><a href="https://mahaeschol.maharashtra.gov.in/MahaEschol/Scholarships/Account/Login.aspx#1" target="_blank">State Govt. Scholarship</a></p>
                               <p><a href="http://www.momascholarship.gov.in/?did=193" target="_blank">Central Govt. Scholarship</a></p>
                               <p><a href="http://www.dtemaharashtra.gov.in/EBCScholarship/StaticPages/HomePage.aspx" target="_blank">EBC Concession</a></p>
                        </div>
                        
                    </div>
                </div>
                
                <!-- Single Top Popular Course -->
                
            </div>
        </div>
    </div>
    <!-- ##### Top Popular Courses Area End ##### -->

    <!-- ##### Partner Area Start ##### -->
    <div class="partner-area section-padding-0-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="partners-logo d-flex align-items-center justify-content-between flex-wrap">
                        <a href="#"><img src="/static/img/clients-img/partner-1.png" alt=""></a>
                        <a href="#"><img src="img/clients-img/partner-2.png" alt=""></a>
                        <a href="#"><img src="img/clients-img/partner-3.png" alt=""></a>
                        <a href="#"><img src="img/clients-img/partner-4.png" alt=""></a>
                        <a href="#"><img src="img/clients-img/partner-5.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Partner Area End ##### -->

    <!-- ##### CTA Area Start ##### -->
   
    <!-- ##### CTA Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="main-footer-area section-padding-0-0">
           
        
        <div class="bottom-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">GPT</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
        </div>

        </footer>
        
        <!-- ##### Footer
Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/static/js/plugins/plugins.js"></script>
    <!-- Active js -->
        <script src="/static/js/active.js"></script>
   
        </body>

</html>