<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Government Polytechnic Thane</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}    
</style>
</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <a href="index.html"><img src="img/bg-img/gpt-logo.jpg" height="110" width="110"></a>
                            </div>
                            <div class="heading1">
                                <h2>Government Polytechnic, Thane</h2>
                            <p>Established 1985(Government of Maharashtra.)</p>
                            </div>
                            <div class="login-content">
                                <a href="#">Register / Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="abtus.html">About Us</a></li>
                                    <li><a href="news.html">News</a></li>
                                    <li><a href="index.html">Grievance</a></li>
                                    <li><a href="#">Departments</a>
                                        <div class="megamenu text-center">
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="index.html">Chemical Engineering</a></li>
                                            <li><a href="about-us.html">Civil Engineering</a></li>
                                            <li><a href="index.html">Mechanical Engineering</a></li>
                                        </ul>
                                            
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="it.html">Information Technology</a></li>
                                            <li><a href="comp.html">Computer Engineering</a></li>
                                            <li><a href="blog.html">Travel & Tourism</a></li>
                                            
                                        </ul>
                                                                            </div>
                                    </li>
                                    <li><a href="#">Students corner</a>
                                        <div class="megamenu">
                                            <ul class="single-mega text-center cn-col-4">
                                                <li><a href="sports.html">Annual Sports 2018-2019</a></li>
                                                <li><a href="#">Annual Gathering 2018-2019</a></li>
                                              </ul>
                                           
                                        </div></li>
                                    <li><a href="course.html">Facilities</a>
                                     <div class="megamenu ">
                                        <ul class="single-mega cn-col-4 text-center">
                                            <li><a href="library.html">Library</a></li>
                                            <li><a href="gymkhana.html">Gymkhana</a></li>
                                        </ul>
                                    </div>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                            
                            <!-- Nav End -->
                        </div>
                    </nav>
        
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/Graphic-Designer.jpg);">
        <div class="bradcumbContent">
            <h2>Library</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
   <br>   <br>   <br>   <hr>
    <div class="container" style="padding: 50px;">
    <h1 style="text-align: center">Library Staff</h1>
   <table id="customers" width="95%" align="center">
<thead>
<tr>
	<th width="8%">Sr.No.</th>
	<th width="38%">Name</th>
	<th width="22%">Designation</th>
</tr>
</thead>
  <tr>
    <td>1</td>
    <td>---------------</td>
    <td>Librarian</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Smt. Rajeshree Jadhav</td>
    <td>Assistant Librarian</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Smt. S. P. Satpute</td>
    <td>Peon</td>
  </tr>
</table>
    </div>
<br>  
     <div class="container">
<h1 style="text-align: center">Library Information</h1>
<table id="customers" width="90%" border="0" align="center" cellpadding="5" cellspacing="5">
<tr>
    	<td width="60%"><strong>Library area</strong></td>
    	<td width="6%" align="center" valign="top"></td>
    	<td width="34%"></td>
</tr>
<tr>
    	<td width="60%"><strong>Reading Room</strong></td>
    	<td width="6%" align="center" valign="top">:</td>
    	<td width="34%">153.61 Square Meter</td>
</tr>
<tr>
    	<td width="60%"><strong>Store Room</strong></td>
    	<td width="6%" align="center" valign="top">:</td>
    	<td width="34%">186.87 Square Meter</td>
</tr>

<tr>
    	<td width="60%"><strong>Total Number of books available (issue section)</strong></td>
    	<td width="6%" align="center" valign="top">:</td>
    	<td width="34%">8250</td>
</tr>

<tr>
	<td><strong>Total Number of books available under book bank scheme</strong></td>
	<td align="center" valign="top">:</td>
	<td>9105</td>
</tr>
<tr>
	<td><strong>Total number of books available in library</strong></td>
	<td align="center" valign="top">:</td>
	<td>17355</td>
</tr>
<tr>
	<td><strong>Text Books</strong></td>
	<td align="center" valign="top">:</td>
	<td>13505</td>
</tr>
<tr>
	<td><strong>Reference Books</strong></td>
	<td align="center" valign="top">:</td>
	<td>3850</td>
</tr>

</table>
    </div>
    
    
    
    
    
   <br> 
   <br> 
     <div class="container" style="padding: 50px;">
    <h1 style="text-align: center">Books,Journals & Library Facilities</h1>

   <table id="customers" width="95%" align="center">
<thead>
<tr>
	<th width="8%">Sr.No.</th>
	<th width="32%">Course Name</th>
	<th width="12%">Titles</th>
	<th width="12%">Volumes</th>
	<th width="15%">National Journals</th>
	<th width="15%">International Journals</th>
    
</tr>
</thead>
  <tr>
    <td>1</td>
    <td>Civil Engineering</td>
    <td>693</td>
    <td>2310</td>
    <td>03</td>
    <td>00</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Computer Engineering & Information Technology</td>
    <td>1504</td>
    <td>5014</td>
    <td>03</td>
    <td>00</td>    
  </tr>
  <tr>
    <td>3</td>
    <td>Electrical Engineering</td>
    <td>91</td>
    <td>320</td>
    <td>00</td>
    <td>00</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Electronics Engineering</td>
    <td>56</td>
    <td>570</td>
    <td>00</td>
    <td>00</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Mechanical Engineering</td>
    <td>591</td>
    <td>1971</td>
    <td>01</td>
    <td>02</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Chemical Engineering</td>
    <td>468</td>
    <td>1560</td>
    <td>01</td>
    <td>01</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Travel & Tourism</td>
    <td>75</td>
    <td>250</td>
    <td>03</td>
    <td>01</td>
  </tr>

  <tr>
    <td>8</td>
    <td>Science & Humanities</td>
    <td>594</td>
    <td>1980</td>
    <td>00</td>
    <td>01</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Management</td>
    <td>426</td>
    <td>1420</td>
    <td>00</td>
    <td>00</td>
  </tr>

  <tr>
    <td>10</td>
    <td>General</td>
    <td>1960</td>
    <td>1960</td>
    <td>00</td>
    <td>00</td>
  </tr>
</table>
    </div>
    
    
    
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
       
        <div class="bottom-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>