<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Government Polytechnic Thane</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <a href="index.html"><img src="img/bg-img/gpt-logo.jpg" height="110" width="110"></a>
                            </div>
                            <div class="heading1">
                                <h2>Government Polytechnic, Thane</h2>
                            <p>Established 1985(Government of Maharashtra.)</p>
                            </div>
                            <div class="login-content">
                                <a href="#">Register / Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="abtus.html">About Us</a></li>
                                    <li><a href="index.html">News</a></li>
                                    <li><a href="index.html">Grievance</a></li>
                                    <li><a href="#">Departments</a>
                                        <div class="megamenu text-center">
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="index.html">Chemical Engineering</a></li>
                                            <li><a href="about-us.html">Civil Engineering</a></li>
                                            <li><a href="index.html">Mechanical Engineering</a></li>
                                        </ul>
                                            
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="it.html">Information Technology</a></li>
                                            <li><a href="comp.html">Computer Engineering</a></li>
                                            <li><a href="blog.html">Travel & Tourism</a></li>
                                            
                                        </ul>
                                                                            </div>
                                    </li>
                                    <li><a href="#">Students corner</a>
                                        <div class="megamenu">
                                            <ul class="single-mega text-center cn-col-4">
                                                <li><a href="#">Annual Sports 2018-2019</a></li>
                                                <li><a href="#">Annual Gathering 2018-2019</a></li>
                                              </ul>
                                           
                                        </div></li>
                                    <li><a href="abtus.html">About Us</a></li>
                                    <li><a href="course.html">Facilities</a>
                                     <div class="megamenu ">
                                        <ul class="single-mega cn-col-4 text-center">
                                            <li><a href="index.html">Library</a></li>
                                            <li><a href="about-us.html">Gymkhana</a></li>
                                        </ul>
                                    </div>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                            
                            <!-- Nav End -->
                        </div>
                    </nav>
        
                </div>
            </div>
        </div>
    </header>
    
    
    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">

             <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/ph2.jpg);">
                <div class="container h-80">
                    <div class="row h-100 align-items-center">
                        
                    </div>
                </div>
            </div>
     
             <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/ph3.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        
                    </div>
                </div>
            </div>
     
             <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/ph15.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        
                    </div>
                </div>
            </div>
     
             <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/ph4.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        
                    </div>
                </div>
            </div>
     
             <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/ph5.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        
                    </div>
                </div>
            </div>
     
             <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/ph6.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        
                    </div>
                </div>
            </div>
     
            
            
            
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/ph7.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        
                    </div>
                </div>
            </div>
            
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/ph8.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        
                    </div>
                </div>
            </div>
            
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/ph9.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        
                    </div>
                </div>
            </div>
            
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/ph10.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                                           </div>
                </div>
            </div>
            
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/ph11.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                     
                    </div>
                </div>
            </div>
            

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/ph12.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                               </div>
                </div>
            </div>
            
             <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/ph13.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                     
                    </div>
                </div>
            </div>
             <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/ph14.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                     
                    </div>
                </div>
            </div>
            
    <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/ph1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                     
                    </div>
                </div>
            </div>
             <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/ph16.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                     
                    </div>
                </div>
            </div>
             <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/ph17.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                     
                    </div>
                </div>
            </div>
             
            
        </div>
    </section>
    
    
    
    
    
    
    
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
       
        <div class="bottom-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>